#pin-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;

  .card {
    width: 300px;
    height: auto;
    margin: 15px;
    box-shadow: 10px;
  }

  .card-body {
    flex: none;
  }
}

#pinImg {
  width: 100%;
  object-fit: fill;
}
