@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'pins';

body {
  background-color: $favColor;
}

h1 {
  text-align: center;
}

.add-board-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20em;
  padding: .5em;
}
