@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'pins';
@import 'boards';

body {
  background-color: white;
}

h1 {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .add-board-form {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
